
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>2022 - Made by Jeremy Arquiza with the guidance of Dr. Angela Yu's Web Development Udemy Course</p>
  </div>
</div>
</body>
</html>
